/********************
YOUR STYLES
*******************/

h1{
    
    font-size: 4em;
    font-family: avenir next;
    font-style: oblique;
    color: darkgoldenrod;
    text-align: center;

        
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}